<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../static/css/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon">
    <title>Dragonoid</title>
</head>
<body>

    <header class="header">
        <div class="header-container">
            <ul class="nav-box">
                <div class="nav-box-left">
                    <li class="nav-item"><a href="home_user.html" class="logo"><img src="../../static/img/logo.svg" alt="Logo" srcset=""></a></li>
                    <li class="nav-item"><a href="catalog_user.html" class="catalog">Каталог</a></li>
                </div>
                <li class="nav-item dropdown">
                    <button class="reg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        UserName
                    </button>
                    <ul class="dropdown-menu reg-box">
                        <li class="reg-item"><a class="profile" href="profile.html">Профиль</a></li>
                        <li class="reg-item"><a class="exit" href="../no_user/home_no_user.html">Выйти</a></li>
                    </ul>
                </li>   
            </ul>  
        </div>
    </header>

    <section class="main_zone"> 
        <div class="main_zone-container">
            <!-- Main Zone -->
            
            <div class="car_browsing">
                <div id="car-carousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="image_car-to-carousel image-1"></div>
                        <!-- <img src="..." class="d-block w-100" alt="..."> -->
                        </div>
                        <div class="carousel-item">
                            <div class="image_car-to-carousel image-2"></div>
                        <!-- <img src="..." class="d-block w-100" alt="..."> -->
                        </div>
                        <div class="carousel-item">
                            <div class="image_car-to-carousel image-3"></div>
                        <!-- <img src="..." class="d-block w-100" alt="..."> -->
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#car-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#car-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            
            <div class="car_info-container">
                <div class="car_description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="car_info">
                    <span class="about_car">car.name</span>
                    <span class="about_car">car.brand</span>
                    <span class="about_car">car.price</span>
                </div>
            </div>
              


            <!-- Main Zone Close -->
        </div>
    </section>

    <footer class="footer">
        <div class="footer-container">
            <ul class="footer-nav-box">
                <li class="footer-nav-item"><a href="home_no_user.html" class="reg">Главная</a></li>
                <li class="footer-nav-item"><a href="catalog_no_user.html" class="catalog">Каталог</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>